﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>City Hall</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet"> -->
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/aos.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <div class="site-logo mr-auto w-25"><a href="index.html">City Hall Official Site</a></div>
                    <div class="mx-auto text-center">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mx-auto d-none d-lg-block  m-0 p-0">
                                <li><a href="#home-section" class="nav-link">Home</a></li>
                                <li><a href="#courses-section" class="nav-link">Documents</a></li>
                                <li><a href="#programs-section" class="nav-link">Departments</a></li>
                                <li><a href="#teachers-section" class="nav-link">Meetings</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="ml-auto w-25">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block m-0 p-0">
                                <li class="cta"><a href="#contact-section" class="nav-link"><span>Contact</span></a></li>
                            </ul>
                        </nav>
                        <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a>
                    </div>
                </div>
            </div>

        </header>
        <div class="intro-section single-cover" id="home-section">

            <div class="slide-1 " style="background-image: url('images/primaria-lugoj.jpg');" data-stellar-background-ratio="0.5">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <div class="row justify-content-center align-items-center text-center">
                                <div class="col-lg-6">
                                    <h1 data-aos="fade-up" data-aos-delay="0">Organizational Chart</h1>
                                    <p data-aos="fade-up" data-aos-delay="100">267 employees &bullet; 6 departments &bullet; <a href="#" class="text-white">Updated</a></p>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mb-5">
                        <div class="mb-5">
                            <h3 class="text-black">Description</h3>

                            <p>The organizational chart of the institution and its departments.</p>
                            <img src="images/organigrama.jpg" alt="Image" class="img-fluid">

                        </div>

                        <div class="mb-5">
                            <h3 class="text-black">Housing department</h3>

                            <p>John Meyer</p>
                            <p>johmeyer@yahoo.com     0723098123</p>
                            <p>Monday, Wednesday and Thursday from 8am to 5pm</p>

                        </div>

                        <div class="mb-5">
                            <h3 class="text-black">Car department</h3>

                            <p>John Meyer</p>
                            <p>johmeyer@yahoo.com     0723098123</p>
                            <p>Monday, Wednesday and Thursday from 8am to 5pm</p>

                        </div>

                        <div class="mb-5">
                            <h3 class="text-black">Marriage department</h3>

                            <p>John Meyer</p>
                            <p>johmeyer@yahoo.com     0723098123</p>
                            <p>Monday, Wednesday and Thursday from 8am to 5pm</p>

                        </div>

                        <div class="mb-5">
                            <h3 class="text-black">Birth department</h3>

                            <p>John Meyer</p>
                            <p>johmeyer@yahoo.com     0723098123</p>
                            <p> Monday, Wednesday and Thursday from 8am to 5pm</p>

                        </div>

                        <div class="mb-5">
                            <h3 class="text-black">Land domain department</h3>

                            <p>John Meyer</p>
                            <p>johmeyer@yahoo.com     0723098123</p>
                            <p>Monday, Wednesday and Thursday from 8am to 5pm</p>

                        </div>

                        <div class="mb-5">
                            <h3 class="text-black">Population department</h3>

                            <p>John Meyer</p>
                            <p>johmeyer@yahoo.com     0723098123</p>
                            <p>Monday, Wednesday and Thursday from 8am to 5pm</p>

                        </div>

                    </div>
                    <div class="col-lg-4 pl-lg-5">
                        <div class="mb-5 text-center border rounded course-instructor">
                            <h3 class="mb-5 text-black text-uppercase h6 border-bottom pb-3">Manager</h3>
                            <div class="mb-4 text-center">
                                <img src="images/manager.jpg" alt="Image" class="w-25 rounded-circle mb-4">
                                <h3 class="h5 text-black mb-4">Christine Downey</h3>
                                <p>Administrative manager of the city.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer-section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3>About us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro consectetur ut hic ipsum et veritatis corrupti. Itaque eius soluta optio dolorum temporibus in, atque, quos fugit sunt sit quaerat dicta.</p>
                    </div>
                    <div class="col-md-3 ml-auto">
                        <h3>Links</h3>
                        <ul class="list-unstyled footer-links">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Documents</a></li>
                            <li><a href="#">Departments</a></li>
                            <li><a href="#">Meeting</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <div class="border-top pt-5">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </footer>


    </div> <!-- .site-wrap -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.sticky.js"></script>

    <script src="js/main.js"></script>

</body>
</html>